footer {
    text-align: center;
    background-color: black;
    color: white;
}
header{
    text-align: center;
}
h1{
    text-align: center;
}
.gg{
    color: red;
}
.h1{
    text-align: center;
}
.dd{
    text-align: center;
}
.f{
    text-align: center;
}